@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: #F5F5F5;
  --primary: #FF5722;
  --secondary: #673AB7;
  --dark: #333333;
  --accent: #FFC107;
}

html, body {
  background: var(--base);
  min-height: 100%;
  margin: 0;
  padding: 0;
}
